body {
    font-family: 'Bubbler One', sans-serif;

}

h1 {
    font-size: 48px;
    text-align: center;
    width: 309px;
    margin: 9px auto 20px auto;
}

h2 {
    margin-top: 0;
}

.heading {
    display: inline-block;
    background-color: lightblue;
    text-align: center;
}

.stats {
    justify-content: right;
    background-color: #f5b996;
    margin-left: 66%;
    padding-left: 18px;
}

.container {
    background-color: #323232;
    display: grid;
    grid-template-columns: repeat(10, 1fr [col-start]);
    gap: 1px 1px;
    width: 309px;
    margin: 0 auto;
}

.grid {
    background-color: black;
    width: 30px;
    height: 30px;

}

#snek {
    background-color: #634cbf;
}

.tail {
    background-color: #634cbf;
}

.apple {
    background-color: red;
}

.ded-1 {
    background-color: yellow;
}

.ded-2 {
    background-color: limegreen;
}