body {
    font-family: 'Bubbler One', sans-serif;

}

h1 {
    font-size: 48px;
    text-align: center;
    width: 309px;
    margin: 9px auto 20px auto;
}

h2 {
    margin-top: 0;
}

.heading {
    display: inline-block;
    background-color: #50a7c5;
    text-align: center;
}

.stats {
    justify-content: right;
    background-color: #f5b996;
    margin-left: 66%;
    padding-left: 18px;
}

.container {
    background-color: #323232;
    display: grid;
    grid-template-columns: repeat(10, 1fr [col-start]);
    gap: 1px 1px;
    width: 309px;
    margin: 0 auto;
}

.grid {
    background-color: black;
    width: 30px;
    height: 30px;
}

.modal {
    display: block;
    position: absolute;
    top: 50%;
    left: 18%;
    width: 63%;
    padding: 15px;
    min-height: 165px;
    background-color: #50a7c5;
}

.win-message-1, .win-message-2 {
    font-size: 40px;
    width: 100%;
    text-align: center;
}

/*.win-message-1 {*/
/*}*/

/*.win-message-2 {*/
/*    text-align: left;*/
/*}*/

#snek {
    background-color: #634cbf;
}

.tail {
    background-color: #634cbf;
}

.apple {
    background-color: red;
}

.ded-1 {
    background-color: yellow;
}

.ded-2 {
    background-color: limegreen;
}

.hidden {
    display: none;
}