/* DON'T TOUCH THIS! */
body {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
html,body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    width: 100%;
    text-transform: uppercase;
    background: #2e354f;
    margin: 0;
    color: white;
}


.section-title {
    text-transform: uppercase;
}

.underlined {
    color: #ef5839;
}

.btn {
    text-decoration: none;
    color: white;
    font-weight: 900;
    background: #ef5839;
    display: inline-block;
}

.btn:hover {
    color: #2e354f;
    background: #d4b44c;
}
/* DON'T TOUCH THIS! */

/* ==========================
	Write your solution here!
   ========================== */

body {
    text-align: center;
}

.title-section, .about-section, .contact-section {
    margin: 0 auto;
    margin-bottom: 100px;
}

.about-section, .contact-section {
    width: 635px;
}

.title-text {
    padding: 8px;
}

.section-title {
    border-bottom: 2px solid #a3a3a3;
    padding-bottom: 9px;
    margin-bottom: 32px;
}

.btn {
    padding: 15px;
}

.contact-section  .text {
    margin-bottom: 30px;
}

