body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 0;
}

/*  TEXT  */

h2, p, img, a {
    margin-top: 0;
    margin-bottom: 21px;
}

a {
    color: #ef5839;
}

/*  LAYOUT  */

section {
    padding: 21px;
}

.container {
    display: grid;
    justify-content: space-around;
}

.section-header {
    color: #ef5839;
}

.content {
    width: 600px;
}

/*  LINKS & BUTTONS */

.light .section-link:hover {
    color: #2E354F;
}

.light .section-link:focus {
    color: #9F0DAE;
}

.dark .section-link:hover {
    color: #fff;
}

.dark .section-link:focus {
    color: #9F0DAE;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: 18px 27px;
    background-color: yellow;
    margin-right: 18px;
    /*margin-bottom: 21px;*/
}

.btn-light,
.btn-dark{
    font-weight: bold;
    text-decoration: none;
}

.btn-light{
    color: #2E354F;
    background-color: #fff;
}

.btn-dark{
    color: #fff;
    background-color: #ef5839;
}



.btn-dark:hover {
    background-color: #fff;
    color: #ef5839;
}

.btn-dark:focus {
    color: #9F0DAE;
}

.btn-light:hover {
    color: #ef5839;
}

.btn-light:focus {
    color: #9F0DAE;
}



/*  MAIN COLOR THEMES  */

.dark {
    background-color: #2E354F;
    color: #fff;
}

.light {
    background-color: #FFF;
    color: rgba(0, 0, 0, 0.72);
}




