body {
    font-family: "Lato";
    font-size: 18px;
    margin: 0;
}

h2, p, img, a {
    margin-top: 0;
    margin-bottom: 21px;
}

a {
    color: #ef5839;
}



.container {
    display: grid;
    justify-content: space-around;
}

.content {
    width: 600px;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: 18px 27px;
    background-color: yellow;
    margin-right: 18px;
    /*margin-bottom: 21px;*/
}

.btn-light,
.btn-dark{
    font-weight: bold;
    text-decoration: none;
}

/* Buttons */
.btn-light{
    color: #2E354F;
    background-color: #fff;
}

.btn-dark{
    color: #fff;
    background-color: #ef5839;
}

.dark {
    background-color: #2E354F;
    color: #fff;
}

.light {
    background-color: #FFF;
    color: rgba(0, 0, 0, 0.72);
}

