body {
    display: grid;
    justify-content: space-around;
    margin-top: 150px;
}

.btn {
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    background-color: #ef5839;
    color: white;
    margin: 0 auto;
    padding: 18px 27px;
}

.btn:hover {
    background-color: #d4b44c;
    color: #2e354f;
    padding: 22px 32px;
}
