.container {
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 36px;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 108px;
}

.section {
    /* solution: margin: 0 auto */
    text-align: center;
    width: 250px;
}