/* DON'T TOUCH THIS! */
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}
.header {
  font-family: "Lora", serif;
  color: #143774;
  background: #f8f8f8;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  padding: 0.75em;
  margin: 0;
  width: 100%;
}

.post-title {
  color: #1792d2;
  font-size: 2rem;
}

.post-description {
  color: #707070;
  font-size: 1.125rem;
}

.post {
  background: #e1e1e1;
}
/* DON'T TOUCH THIS! */

/* ==========================
	Write your solution here!
	 ========================== */

.post-title,
.post-image,
.post-description {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.header {
  padding: 0;
  padding: 2.75rem 0;
  margin-bottom: 5.5rem;
}

.posts {
  display: grid;
  margin: 0 auto;
  width: 75%;
}

.post {
  align-content: center;
  justify-content: space-between;
  border-radius: 2.75rem;
  padding: 1.25rem;
  padding-top: 2.75rem;
  margin-bottom: 2.75rem;
}

.container-post {
  display: flex;
  flex-flow: column wrap;
}

.post-title {
  font-size: 2.75rem;
  text-align: center;
  vertical-align: text-top;
}

.post-image {
  order: 3;
	display: block;
	border-radius: 1.375rem;
  object-fit: cover;
  width: 100%;
}

.post-description {
  text-align: center;
  line-height: 1.75rem;
}

@media (min-width: 900px) {
	.posts {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		width: 90%;
		max-width: 900px;
	}

	.post {
		width: 42%;
	}
}