/*  Global Styles  */
img {
    width: 800px;
}

/*=========================================*/
/*  Carousel  */
.carousel {
    position: relative;
}

.carousel-item img {
    display: none;
}

.carousel-item-visible img {
    display: initial;
}



