/*  Global Styles  */
img {
    width: 800px;
}

/*=========================================*/
/*  Carousel  */
.carousel {
    position: relative;
}

.carousel-item img {
    display: none;
}

.carousel-item-visible img {
    display: initial;
}

.carousel-actions {
    /*position: absolute;*/
}

.buttons {
    border: none;
    border-radius: 50%;
    padding: 12px 20px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 200px;
}



