body {
    font-family: 'Gill Sans', 'Gill Sans MT';
    display: grid;
    justify-content: center;
}

h1 {
    color: #16697a;
}

/* form */
#text-input {

}

/* textarea */
#box {
    background-color: #ffa62b;
    width: 20em;
    height: 15em;
    padding: 10px;
    border: unset;
    border-radius: 20px;
}

/* submit button */
#submit {
    background-color: #c6bcbc;
    display: block;
    margin-left: 20em;
    border: unset;
    padding: 5px;
    width: 5em;
    border-radius: 5px;
}