body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 0;
    text-align: center;
}


/*  TYPOGRAPHY  */

h1, h2, strong {
    font-weight: 900;
}

h1, h2 {
    text-transform: uppercase;
}


/*  LAYOUT  */

h1, h2, p, a {
    margin-top: 0;
}
