/*  MAIN STYLES  */

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
}


/*  TYPOGRAPHY  */

h1, h2, strong {
    font-weight: 900;
}

.title-text {
    color: #FFF;
}

h1, h2 {
    text-transform: uppercase;
}


/*  LAYOUT  */

h1, h2, p, a {
    margin-top: 0;
}

.container {
    display: grid;
    justify-content: space-around;
}

.about-section,
.contact-section {
    width: 650px;

}

.title-section {
    background-color: #2E354F;
    width: 100%;
    padding: 0;
}